body {
  font-family: "微软雅黑", "宋体";
  font-size: 14px;
}

.page {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family:"微软雅黑";
        font-size: 13px;
		font-weight: bold;
}   
.iheader {
        border-bottom: 2px groove #b1b0b1;
        height: 70px;
        text-align: center;
        display: none;
}
    
.footer {
        position: fixed;
        bottom: 0px;
        z-index: 998;
        background-color: #FFFFFF;
        display: none;
        width: 100%;
        height: 60px;
}   
.footer_logo {
        width: 100%;
}
.a{
    color:#000;
}
.main-button {
	width: 90%;  
	margin-top: 30px; 
	margin-bottom: 15px;
	margin-left: 15px;  
	margin-right: 15px;
}

.back-header{
  background-color: #fff;
  font-size: 20px;
  height: 30px;
}

.back-header-inner{
   //padding-left:20px;
   float:left;
   color:white;
}

.back-header-title{
   text-align: center;
   color:white;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

/*.greencolor{
  font-color:#fff;
  background-color: #b6c94b;
}*/

.line {
   margin-left: -15px;
   margin-right: -15px;
   height: 2px;
   background-color: #eeeeee;
}


    /* CSS used here will be applied after bootstrap.css */
    * {
        //color: #FFF;
    }
    body {
		background-color: #F5F5F5;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: "微软雅黑", "宋体";
    }
	.order-detail{
		color: #666;
		margin-top: 10px;
	}
    .account-info {
		text-align:left;
		padding-left: 30%;
		margin-bottom: 15px;
		font-size: 18px;
        color: green;
    }

    .point-label {
		float: left;
		font-size: 13px;
		font-weight: bold;
		width: 33%;
		height: 30px;
		background: url(./images/member_huadong_bg.png) no-repeat;
		background-size: 92px;
		height: 31px;
		line-height: 30px;
		text-align: center;
		display: inline;
		//margin-right: 10px;
		color: #666;
    }

    .container-fluid {
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
		background-size: 100%;
		height: 100%;
    }
    div h3 span {
        color: #FFF;
        font-size: 14px;
    }
    div span {
        font-weight: 200;
		color:#30a479;
		font-size: 12px;
    }
	.title{
	   color:#22383f;
	    font-size:22px;
		width: 250px;
        text-align: center;
        display: inline-block;
		line-height: 55px;
	}
    h1 {
        font-weight: 200;
    }
    .login_box {
        background: #b6c94b;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* FF3.6+ */
        
        background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #b6c94b), color-stop(99%, #ff6b45));
        /* Chrome,Safari4+ */
        
        background: -webkit-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* Chrome10+,Safari5.1+ */
        
        background: -o-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* Opera 11.10+ */
        
        background: -ms-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* IE10+ */
        
        background: linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* W3C */
        
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b6c94b', endColorstr='#ff6b45', GradientType=1);
        /* IE6-8 fallback on horizontal gradient */
        
        width: 35%;
        /* height:70%; */
        
        position: absolute;
        top: 15%;
        left: 32.5%;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    }
    @media (max-width: 767px) {
        .login_box {
            background: #b6c94b;
            /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* FF3.6+ */
            
            background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #b6c94b), color-stop(99%, #ff6b45));
            /* Chrome,Safari4+ */
            
            background: -webkit-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* Chrome10+,Safari5.1+ */
            
            background: -o-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* Opera 11.10+ */
            
            background: -ms-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* IE10+ */
            
            background: linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* W3C */
            
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b6c94b', endColorstr='#ff6b45', GradientType=1);
            /* IE6-8 fallback on horizontal gradient */
            
            width: 90%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 5%;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
            -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
            box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        }
    }
    .image-circle {
        border-radius: 15%;
        width: 60px;
        height: 60px;
        border: 2px solid #FFF;
        margin: -3px;
    }
    .follow {
        background-color: #b6c94b;
        height: 80px;
        cursor: pointer;
    }
    .follow:hover {
        background-color: #b6c94b;
        height: 80px;
        cursor: pointer;
    }
    .login_control {
        background-color: #FFF;
        //padding: 10px;
    }
    .control {
        color: #000;
        margin: 10px;
    }
    .label {
        //color: #b6c94b;
        //font-size: 18px;
        //font-weight: 500;
    }
/*
    input .form-control {
        color: #000000 !important;
        border: none;
        //padding: 25px;
        //padding-left: 10px;
        //border-bottom: 1px solid #CCC;
        //margin-bottom: 10px;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
*/
    .form-control:focus {
        border-radius: 0px;
        border-bottom: 1px solid #b6c94b;
        margin-bottom: 10px;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .btn-orange {
        background-color: #b6c94b;
        border-radius: 0px;
        margin: 5px;
        padding: 5px;
        width: 150px;
        font-size: 20px;
        font-weight: inherit;
    }
    .btn-orange:hover {
        background-color: #b6c94b;
        border-radius: 0px;
        margin: 5px;
        padding: 5px;
        width: 150px;
        font-size: 20px;
        font-weight: inherit;
        color: #FFF !important;
    }
    .outter {
        padding-top: 4px;
        padding-right: 3px;
        border: 1px solid rgba(255, 255, 255, 0.29);
        border-radius: 15%;
        width: 100px;
        height: 110px;
        float: left;
    }
	.img-retclub {
		margin-bottom: 5px;
		width: 90%;
	}

    .main-font{
        color: #b6c94b;
        font-weight: 700;
    }
	.Cart {
    float: left;
    margin-top: 5px;
    font-size: 18px;
	}
	.Cart span{
	color: #fff;
	}
#totalCount,#totalPriceLabel{
    float:left;
    margin-top:10px;
}
#totalCount{
    padding: 0 15px;
}
.list-group-item {
    padding:0;
    border:0;
    margin-bottom: 5px;
    height: 115px;
}
.input-number{
    width:50px;
    display:inline;
    vertical-align:middle;
    text-align:center;
    border:0;
}
.item_count{
    float:right;
    margin-top:30px;
}
.pay_count{
    float:left;
    font-size:15px;
    color:#30a479;
    margin-top:40px;
}
.btn-circle{
    color:#fff;
    border-radius:50%;
}
.item_Price{
    color: #30a479;
    opacity: 0.5;
    font-size: 10px;
}
.item_Name{
    padding:8px 0;
    font-size:12px;
}
.btn-primary {
    color: #fff;
    background-color: #30a479;
}
.panel-heading {
    border-bottom: 2px solid #dcdcdc;
    border-top: 1px solid #fff;
    background: #fff;
    margin-top: -8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.circle {
    border-radius:50%;
    width: 60px;
    height: 60px;
    border: 3px solid forestgreen;
}
.outterOrder {
    padding: 0;
    margin-top: 3px;
    /*float:left;*/
}
.telephone {
    vertical-align: middle;
    height: 20px;
    border-radius: 50%;
}
.list-group-item-info {
     color: transparent;
     background-color: #fff;
     margin-top: 0;
}
.productDetail {
    padding: 10px 15px;
    background: #fff;
    font-size: 15px;
    margin-top: 5px;
}
.commodityRev{
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #ccc;
    outline-color: transparent;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
}
