body {
  font-family: "微软雅黑", "宋体";
  font-size: 14px;
  color:#76b1fd;
}

.page {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: "宋体";
        background-color:#fff;
}
.iheader {
        border-bottom: 2px groove #b1b0b1;
        height: 70px;
        text-align: center;
        display: none;
}

.footer {
        position: fixed;
        bottom: 0px;
        z-index: 998;
        background-color: #FFFFFF;
        display: none;
        width: 100%;
        height: 60px;
}

.footer_logo {
        width: 100%;
}

.main-button {
	width: 90%;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.back-header{
  background-color: #fff;
}
.back-header-title {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

/*.greencolor{
  font-color:#fff;
  background-color: #b6c94b;
}*/

.line {
   margin-left: -15px;
   margin-right: -15px;
   height: 2px;
   background-color: #eeeeee;
}


    /* CSS used here will be applied after bootstrap.css */
    * {
        //color: #FFF;
    }
    body {
		background-color: #F5F5F5;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: "微软雅黑", "宋体";
    }
	.order-detail{
		margin-top: 5px;
	}

    .account-info {
		margin-bottom: 15px;
		font-size: 18px;
        color:#fff;
    }
    .point-label {
		float: left;
		font-size: 13px;
		font-weight: bold;
		width: 33%;
		height: 30px;
		background: url(./images/member_huadong_bg.png) no-repeat;
		background-size: 92px;
		height: 31px;
		line-height: 30px;
		text-align: center;
		display: inline;
		//margin-right: 10px;
		color: #666;
    }

    .container-fluid {
        background: url(../images/background.jpg) no-repeat;
        /*height: 180px;*/
        background-size: 100%;
    }
    div h3 span {
        color: #FFF;
        font-size: 14px;
    }
    div span {
        font-weight: 200;
    }
    h1 {
        font-weight: 200;
    }
    .login_box {
        background: #b6c94b;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */

        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* FF3.6+ */

        background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #b6c94b), color-stop(99%, #ff6b45));
        /* Chrome,Safari4+ */

        background: -webkit-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* Chrome10+,Safari5.1+ */

        background: -o-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* Opera 11.10+ */

        background: -ms-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* IE10+ */

        background: linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
        /* W3C */

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b6c94b', endColorstr='#ff6b45', GradientType=1);
        /* IE6-8 fallback on horizontal gradient */

        width: 35%;
        /* height:70%; */

        position: absolute;
        top: 15%;
        left: 32.5%;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    }
    @media (max-width: 767px) {
        .login_box {
            background: #b6c94b;
            /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */

            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* FF3.6+ */

            background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #b6c94b), color-stop(99%, #ff6b45));
            /* Chrome,Safari4+ */

            background: -webkit-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* Chrome10+,Safari5.1+ */

            background: -o-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* Opera 11.10+ */

            background: -ms-linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* IE10+ */

            background: linear-gradient(45deg, #b6c94b 5%, #ff6b45 99%);
            /* W3C */

            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b6c94b', endColorstr='#ff6b45', GradientType=1);
            /* IE6-8 fallback on horizontal gradient */

            width: 90%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 5%;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
            -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
            box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        }
    }
    .follow {
        background-color: #b6c94b;
        height: 80px;
        cursor: pointer;
    }
    .follow:hover {
        background-color: #b6c94b;
        height: 80px;
        cursor: pointer;
    }
    .login_control {
        background-color: #FFF;
        //padding: 10px;
    }
    .control {
        color: #000;
        margin: 10px;
    }
    .label {
        //color: #b6c94b;
        //font-size: 18px;
        //font-weight: 500;
    }
/*
    input .form-control {
        color: #000000 !important;
        border: none;
        //padding: 25px;
        //padding-left: 10px;
        //border-bottom: 1px solid #CCC;
        //margin-bottom: 10px;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
*/
    .form-control:focus {
        border-radius: 0px;
        border-bottom: 1px solid #b6c94b;
        margin-bottom: 10px;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .btn-orange {
        background-color: #b6c94b;
        border-radius: 0px;
        margin: 5px;
        padding: 5px;
        width: 150px;
        font-size: 20px;
        font-weight: inherit;
    }
    .btn-orange:hover {
        background-color: #b6c94b;
        border-radius: 0px;
        margin: 5px;
        padding: 5px;
        width: 150px;
        font-size: 20px;
        font-weight: inherit;
        color: #FFF !important;
    }
    .outter {
        padding: 0;
        margin-top: 15%;
	    /*float:left;*/
    }
	.img-retclub {
		margin-bottom: 5px;
		width: 90%;
	}
    .circle>img{
        border-radius:50%;
        width: 60px;
        height: 60px;
        border: 3px solid #fff;
    }
    .main-font{
        color: #b6c94b;
        font-weight: 700;
    }
    .top-info{
         margin-bottom:5px;
    }
    .telephone{
        vertical-align: middle;
        height: 20px;
        border-radius: 50%;
}
.panel-heading {
    background: #fff;
    padding:5px 12px;
}
.panel-body{
    padding:0;
}
.panel-footer{
    padding:5px 12px;
    background: #fff;
}
.panel-footer{
    width:100%;
    height: 30px;
}
.AllOrder{
    border-bottom: 0.5px solid #dcdcdc;
    box-shadow: 0 1px 0 rgba(181,189,199,0.3);
    border-top: 1px solid rgba(181,189,199,0.2);
    background: #fff;
    /*margin-top: -8px;*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height:40px;
    line-height: 43px;
}
.productDetail{
    background:#fff;
    font-size:15px;
    margin-top: 5px;
}
.commodityRev{
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #fff;
    outline-color: transparent;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
.club{
    font-size: 12px;
    font-weight: 100;
}
.date{
    color:#dcdcdc;
    font-size:12px;
    padding: 0;
}
.orderNumber{
    font-size:16px;
    font-weight: 800;
    /*border-bottom:1px solid rgba(181,189,199,0.2);*/
    text-align: right;
}
.orderTotal{
    padding: 0;
    /*border-top:1px solid rgba(181,189,199,0.2);*/
}
.prcieTotal{
    float:right;
    text-align:right;
    font-weight: 800;
}
.list-group-item{
    border-top: 1px solid #ddd;
}
#logisticsInformation{
    color:#ccc;
}
#closeDetail{
    border-bottom: 1px solid #69D9FF;
    /*width: 35%;*/
    padding-top: 8px;
    color: #69D9FF;
}
#next{
    background: #f8f8f8;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
}
.logisticsDetail{
    width:100%;
    background: #fff;
    margin-top:10px;
    padding-left:10px;
    height: 100px;
    border-bottom: 1px solid #dcdcdc;
}
.returnIndex{
    background: #FFF;
    border: 1px solid #ccc;
    padding: 5px 15px;
    float: right;
    margin: 10px;
}